# Build artifacts
*.tar.gz

# Docker temporary files
*.tar
*.xz
*.gz

# Logs
*.log

# macOS and Linux trash
.DS_Store
*.swp
*.swo

# Editor-specific
.idea/
.vscode/

# Bash history (just in case)
.history
